@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk5hkWV4exQ.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWV4exQ.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjWV4exQ.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkyFjWV4exQ.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk0ZjWV4exQ.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4uaVc.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4uaVc.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4uaVc.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4uaVc.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1x4uaVc.ttf) format('truetype');
}

/* User Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:27.0) Gecko/20100101 Firefox/27.0 */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk5hkWV4exg.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWV4exg.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjWV4exg.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkyFjWV4exg.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk0ZjWV4exg.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4uaVQ.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4uaVQ.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4uaVQ.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4uaVQ.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1x4uaVQ.woff) format('woff');
}

/* User Agent: Mozilla/5.0 (Windows NT 6.3; rv:39.0) Gecko/20100101 Firefox/39.0 */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk5hkWV4ewA.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWV4ewA.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjWV4ewA.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkyFjWV4ewA.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk0ZjWV4ewA.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4uaVI.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4uaVI.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4uaVI.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4uaVI.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1x4uaVI.woff2) format('woff2');
}

</style><style id="et-builder-googlefonts-cached-inline">

/* Original: https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic&#038;subset=latin,latin-ext&#038;display=swap */
/* User Agent: Mozilla/5.0 (Unknown; Linux x86_64) AppleWebKit/538.1 (KHTML, like Gecko) Safari/538.1 Daum/4.1 */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7lXff2jvk.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4m0qyriQwlOrhSvowK_l5-eRZAf-c.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR71Wvf2jvk.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7NWPf2jvk.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l521wRZVsf_.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-ciZJ.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52xwNZVsf_.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52_wFZVsf_.ttf) format('truetype');
}

/* User Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:27.0) Gecko/20100101 Firefox/27.0 */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7lXff2jvo.woff) format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4m0qyriQwlOrhSvowK_l5-eRZAf-Q.woff) format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR71Wvf2jvo.woff) format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7NWPf2jvo.woff) format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l521wRZVsf8.woff) format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-ciZK.woff) format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52xwNZVsf8.woff) format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52_wFZVsf8.woff) format('woff');
}

/* User Agent: Mozilla/5.0 (Windows NT 6.3; rv:39.0) Gecko/20100101 Firefox/39.0 */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7lXff2jvw.woff2) format('woff2');
}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4m0qyriQwlOrhSvowK_l5-eRZAf-I.woff2) format('woff2');
}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR71Wvf2jvw.woff2) format('woff2');
}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7NWPf2jvw.woff2) format('woff2');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l521wRZVsf6.woff2) format('woff2');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-ciZM.woff2) format('woff2');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52xwNZVsf6.woff2) format('woff2');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52_wFZVsf6.woff2) format('woff2');
}


.wp-block-audio figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-audio figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-code {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Menlo, Consolas, monaco, monospace;
    padding: .8em 1em
}

.wp-block-embed figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-embed figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.blocks-gallery-caption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .blocks-gallery-caption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-image figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-image figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-pullquote {
    border-top: 4px solid;
    border-bottom: 4px solid;
    margin-bottom: 1.75em;
    color: currentColor
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
    color: currentColor;
    text-transform: uppercase;
    font-size: .8125em;
    font-style: normal
}

.wp-block-quote {
    border-left: .25em solid;
    margin: 0 0 1.75em;
    padding-left: 1em
}

.wp-block-quote cite,
.wp-block-quote footer {
    color: currentColor;
    font-size: .8125em;
    position: relative;
    font-style: normal
}

.wp-block-quote.has-text-align-right {
    border-left: none;
    border-right: .25em solid;
    padding-left: 0;
    padding-right: 1em
}

.wp-block-quote.has-text-align-center {
    border: none;
    padding-left: 0
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-quote.is-style-plain {
    border: none
}

.wp-block-search .wp-block-search__label {
    font-weight: 700
}

:where(.wp-block-group.has-background) {
    padding: 1.25em 2.375em
}

.wp-block-separator.has-css-opacity {
    opacity: .4
}

.wp-block-separator {
    border: none;
    border-bottom: 2px solid;
    margin-left: auto;
    margin-right: auto
}

.wp-block-separator.has-alpha-channel-opacity {
    opacity: 1
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    width: 100px
}

.wp-block-separator.has-background:not(.is-style-dots) {
    border-bottom: none;
    height: 1px
}

.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
    height: 2px
}

.wp-block-table thead {
    border-bottom: 3px solid
}

.wp-block-table tfoot {
    border-top: 3px solid
}

.wp-block-table td,
.wp-block-table th {
    padding: .5em;
    border: 1px solid;
    word-break: normal
}

.wp-block-table figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-table figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-video figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-video figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-template-part.has-background {
    padding: 1.25em 2.375em;
    margin-top: 0;
    margin-bottom: 0
}

body {
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
    --wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
    --wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
    --wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
    --wp--preset--duotone--midnight: url('#wp-duotone-midnight');
    --wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
    --wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
    --wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
}

body {
    margin: 0;
}

.wp-site-blocks>.alignleft {
    float: left;
    margin-right: 2em;
}

.wp-site-blocks>.alignright {
    float: right;
    margin-left: 2em;
}

.wp-site-blocks>.aligncenter {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.has-black-color {
    color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
    color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
    color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-color {
    color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
    color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
    color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
    color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
    color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
    color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
    color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
    color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
    color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-background-color {
    background-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
    background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
    background-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-background-color {
    background-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
    background-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
    background-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
    background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
    background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
    background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
    background-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-border-color {
    border-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
    border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
    border-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-border-color {
    border-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
    border-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
    border-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
    border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
    border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
    border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
    border-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
    background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
    background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
    background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
    background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
    background: var(--wp--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
    background: var(--wp--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
    background: var(--wp--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
    background: var(--wp--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
    background: var(--wp--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
    background: var(--wp--preset--gradient--midnight) !important;
}

.has-small-font-size {
    font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
    font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
    font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
    font-size: var(--wp--preset--font-size--x-large) !important;
}

img.latex {
    vertical-align: middle;
    border: none;
}

#et_search_icon:hover,
.mobile_menu_bar:before,
.mobile_menu_bar:after,
.et_toggle_slide_menu:after,
.et-social-icon a:hover,
.et_pb_sum,
.et_pb_pricing li a,
.et_pb_pricing_table_button,
.et_overlay:before,
.entry-summary p.price ins,
.et_pb_member_social_links a:hover,
.et_pb_widget li a:hover,
.et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active,
.et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active,
.et_pb_gallery .et_pb_gallery_pagination ul li a.active,
.wp-pagenavi span.current,
.wp-pagenavi a:hover,
.nav-single a,
.tagged_as a,
.posted_in a {
    color: #b31b1b
}

.et_pb_contact_submit,
.et_password_protected_form .et_submit_button,
.et_pb_bg_layout_light .et_pb_newsletter_button,
.comment-reply-link,
.form-submit .et_pb_button,
.et_pb_bg_layout_light .et_pb_promo_button,
.et_pb_bg_layout_light .et_pb_more_button,
.et_pb_contact p input[type="checkbox"]:checked+label i:before,
.et_pb_bg_layout_light.et_pb_module.et_pb_button {
    color: #b31b1b
}

.footer-widget h4 {
    color: #b31b1b
}

.et-search-form,
.nav li ul,
.et_mobile_menu,
.footer-widget li:before,
.et_pb_pricing li:before,
blockquote {
    border-color: #b31b1b
}

.et_pb_counter_amount,
.et_pb_featured_table .et_pb_pricing_heading,
.et_quote_content,
.et_link_content,
.et_audio_content,
.et_pb_post_slider.et_pb_bg_layout_dark,
.et_slide_in_menu_container,
.et_pb_contact p input[type="radio"]:checked+label i:before {
    background-color: #b31b1b
}

a {
    color: #000000
}

#top-header,
#et-secondary-nav li ul {
    background-color: #b31b1b
}

#main-header .nav li ul a {
    color: rgba(0, 0, 0, 0.7)
}

#top-menu li.current-menu-ancestor>a,
#top-menu li.current-menu-item>a,
#top-menu li.current_page_item>a {
    color: #b31b1b
}

.footer-widget .et_pb_widget div,
.footer-widget .et_pb_widget ul,
.footer-widget .et_pb_widget ol,
.footer-widget .et_pb_widget label {
    line-height: 1.7em
}

#et-footer-nav .bottom-nav li.current-menu-item a {
    color: #2ea3f2
}

#footer-bottom {
    background-color: #222222
}

body .et_pb_button {}

body.et_pb_button_helper_class .et_pb_button,
body.et_pb_button_helper_class .et_pb_module.et_pb_button {
    color: #ffffff
}

body .et_pb_bg_layout_light.et_pb_button:hover,
body .et_pb_bg_layout_light .et_pb_button:hover,
body .et_pb_button:hover {
    color: #ffffff !important;
    border-radius: 0px
}

@media only screen and (min-width:981px) {

    .et_header_style_centered.et_hide_primary_logo #main-header:not(.et-fixed-header) .logo_container,
    .et_header_style_centered.et_hide_fixed_logo #main-header.et-fixed-header .logo_container {
        height: 11.88px
    }

    .et-fixed-header#top-header,
    .et-fixed-header#top-header #et-secondary-nav li ul {
        background-color: #b31b1b
    }
}

@media only screen and (min-width:1350px) {
    .et_pb_row {
        padding: 27px 0
    }

    .et_pb_section {
        padding: 54px 0
    }

    .single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper {
        padding-top: 81px
    }

    .et_pb_fullwidth_section {
        padding: 0
    }
}

#wp-admin-bar-abm-login {
    display: block !important
}

body .wp-video-shortcode video,
body video.wp-video-shortcode {
    margin: 0;
    padding: 0;
    background: 0 0;
    border: none;
    box-shadow: none;
    min-width: 0;
    height: auto;
    min-height: 0
}

.screen-reader-text:not(button) {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.wmd-buttons-button,
.wmd-buttons-content {
    display: inline-block;
}

.wmd-buttons-button {
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 5px;
}

.wmd-buttons-button:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.et_divi_builder #et_builder_outer_content .et_pb_module.et_pb_text ul,
.et_divi_builder #et_builder_outer_content .et_pb_module.et_pb_text ol {
    padding: 0 0 23px 16px
}

.et_divi_builder #et_builder_outer_content .et_pb_module.et_pb_text ul li {
    list-style-type: disc
}

.et_divi_builder #et_builder_outer_content .et_pb_module.et_pb_text ol li {
    list-style-type: decimal
}

.et_pb_section_0.et_pb_section {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: #232577 !important
}

.et_pb_text_0 {
    font-family: 'Georgia', Georgia, "Times New Roman", serif;
    margin-bottom: 0px !important
}

.et_pb_text_0 h1 {
    font-family: 'Merriweather', Georgia, "Times New Roman", serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3em
}

.et_pb_text_1.et_pb_text {
    color: rgba(255, 255, 255, 0.5) !important
}

.et_pb_text_1 {
    line-height: 1.8em;
    font-family: 'Merriweather', Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 26px;
    line-height: 1.8em;
    margin-bottom: 10px !important
}

.et_pb_section_1.et_pb_section {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px
}

.et_pb_row_1.et_pb_row,
.et_pb_row_20.et_pb_row,
.et_pb_row_21.et_pb_row {
    padding-top: 50px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 0;
    padding-left: 0px
}

.et_pb_text_4 h2,
.et_pb_text_30 h2,
.et_pb_text_95 h2,
.et_pb_text_11 h2,
.et_pb_text_28 h2,
.et_pb_text_2 h2 {
    font-family: 'Merriweather', Georgia, "Times New Roman", serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3em
}

.et_pb_divider_2,
.et_pb_divider_3,
.et_pb_divider_1 {
    margin-top: 15px !important;
    max-width: 90px
}

.et_pb_divider_3:before,
.et_pb_divider_1:before,
.et_pb_divider_2:before {
    border-top-color: #4646c4;
    border-top-width: 3px
}

.et_pb_text_3,
.et_pb_text_29 {
    line-height: 1.2em;
    font-size: 20px;
    line-height: 1.2em;
    margin-top: 30px !important
}

.et_pb_section_2.et_pb_section {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: #f5f9fb !important
}

.et_pb_row_2.et_pb_row,
.et_pb_row_4.et_pb_row {
    padding-top: 27px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-top: 27px;
    padding-right: 0px;
    padding-bottom: 0;
    padding-left: 0px
}

.et_pb_text_14.et_pb_text a,
.et_pb_text_95.et_pb_text,
.et_pb_text_15.et_pb_text a,
.et_pb_text_27.et_pb_text a,
.et_pb_text_26.et_pb_text a,
.et_pb_text_25.et_pb_text a,
.et_pb_text_24.et_pb_text a,
.et_pb_text_23.et_pb_text a,
.et_pb_text_22.et_pb_text a,
.et_pb_text_21.et_pb_text a,
.et_pb_text_20.et_pb_text a,
.et_pb_text_19.et_pb_text a,
.et_pb_text_18.et_pb_text a,
.et_pb_text_11.et_pb_text,
.et_pb_text_17.et_pb_text a,
.et_pb_text_16.et_pb_text a,
.et_pb_text_4.et_pb_text {
    color: #4646c4 !important
}

.et_pb_text_11,
.et_pb_text_4,
.et_pb_text_95 {
    font-family: 'Merriweather', Georgia, "Times New Roman", serif;
    font-weight: 700;
    font-size: 40px
}

.et_pb_text_12,
.et_pb_text_5,
.et_pb_text_96 {
    line-height: 1.8em;
    font-size: 20px;
    line-height: 1.8em
}

.et_pb_image_0 .et_pb_image_wrap,
.et_pb_image_1 .et_pb_image_wrap {
    border-radius: 100% 100% 100% 100%;
    overflow: hidden;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3)
}

.et_pb_image_4,
.et_pb_image_3,
.et_pb_image_2,
.et_pb_image_1,
.et_pb_image_0 {
    text-align: left;
    margin-left: 0
}

.et_pb_text_8.et_pb_text,
.et_pb_text_101.et_pb_text,
.et_pb_text_100.et_pb_text,
.et_pb_text_7.et_pb_text,
.et_pb_text_9.et_pb_text,
.et_pb_text_102.et_pb_text,
.et_pb_text_6.et_pb_text,
.et_pb_text_98.et_pb_text,
.et_pb_text_99.et_pb_text,
.et_pb_text_10.et_pb_text {
    color: #7e7f93 !important
}

.et_pb_text_102,
.et_pb_text_6,
.et_pb_text_8,
.et_pb_text_7,
.et_pb_text_100,
.et_pb_text_101,
.et_pb_text_9,
.et_pb_text_97,
.et_pb_text_98,
.et_pb_text_99,
.et_pb_text_10 {
    font-size: 18px
}

.et_pb_text_101 h3,
.et_pb_text_100 h3,
.et_pb_text_97 h3,
.et_pb_text_98 h3,
.et_pb_text_99 h3,
.et_pb_text_102 h3,
.et_pb_text_6 h3,
.et_pb_text_7 h3,
.et_pb_text_8 h3,
.et_pb_text_9 h3,
.et_pb_text_10 h3 {
    font-family: 'Merriweather', Georgia, "Times New Roman", serif;
    font-weight: 700;
    font-size: 20px;
    color: #4646c4 !important;
    line-height: 1.4em
}

.et_pb_image_4 .et_pb_image_wrap,
.et_pb_image_2 .et_pb_image_wrap,
.et_pb_image_3 .et_pb_image_wrap {
    border-radius: 100% 100% 100% 100%;
    overflow: hidden
}

.et_pb_section_3.et_pb_section {
    padding-top: 0px;
    padding-bottom: 0px
}

.et_pb_row_5 {
    border-color: #4646c4;
    border-bottom-width: 3px
}

.et_pb_row_5.et_pb_row {
    padding-top: 10px !important;
    padding-right: 0px !important;
    padding-bottom: 10px !important;
    padding-left: 0px !important;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px
}

.et_pb_text_13 h2 {
    font-weight: 700;
    line-height: 1.4em
}

.et_pb_row_10,
.et_pb_row_19,
.et_pb_row_15,
.et_pb_row_14,
.et_pb_row_7,
.et_pb_row_12,
.et_pb_row_11,
.et_pb_row_6,
.et_pb_row_13,
.et_pb_row_17,
.et_pb_row_9,
.et_pb_row_16,
.et_pb_row_18,
.et_pb_row_8 {
    border-top-width: 1px;
    border-color: #e1e3e5
}

.et_pb_row_17.et_pb_row,
.et_pb_row_16.et_pb_row,
.et_pb_row_11.et_pb_row,
.et_pb_row_10.et_pb_row,
.et_pb_row_14.et_pb_row,
.et_pb_row_12.et_pb_row,
.et_pb_row_18.et_pb_row,
.et_pb_row_19.et_pb_row,
.et_pb_row_13.et_pb_row,
.et_pb_row_15.et_pb_row,
.et_pb_row_9.et_pb_row,
.et_pb_row_6.et_pb_row,
.et_pb_row_8.et_pb_row,
.et_pb_row_7.et_pb_row {
    padding-top: 40px !important;
    padding-right: 0px !important;
    padding-bottom: 40px !important;
    padding-left: 0px !important;
    padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px
}

.et_pb_blurb_15.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_15.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_14.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_14.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_12.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_12.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_16.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_16.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_17.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_17.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_13.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_13.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_18.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_18.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_20.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_20.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_21.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_21.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_22.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_22.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_23.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_23.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_3.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_3.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_25.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_25.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_26.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_26.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_27.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_27.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_2.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_2.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_1.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_1.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_0.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_0.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_24.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_24.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_19.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_19.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_7.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_7.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_4.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_4.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_5.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_5.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_11.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_11.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_8.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_8.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_10.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_10.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_9.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_9.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_6.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_6.et_pb_blurb .et_pb_module_header a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px
}

.et_pb_blurb_18 .et-pb-icon,
.et_pb_blurb_1 .et-pb-icon,
.et_pb_blurb_10 .et-pb-icon,
.et_pb_blurb_16 .et-pb-icon,
.et_pb_blurb_17 .et-pb-icon,
.et_pb_blurb_24 .et-pb-icon,
.et_pb_blurb_7 .et-pb-icon,
.et_pb_blurb_21 .et-pb-icon,
.et_pb_blurb_19 .et-pb-icon,
.et_pb_blurb_20 .et-pb-icon,
.et_pb_blurb_0 .et-pb-icon,
.et_pb_blurb_3 .et-pb-icon,
.et_pb_blurb_27 .et-pb-icon,
.et_pb_blurb_26 .et-pb-icon,
.et_pb_blurb_9 .et-pb-icon,
.et_pb_blurb_22 .et-pb-icon,
.et_pb_blurb_23 .et-pb-icon,
.et_pb_blurb_2 .et-pb-icon,
.et_pb_blurb_25 .et-pb-icon,
.et_pb_blurb_6 .et-pb-icon,
.et_pb_blurb_8 .et-pb-icon,
.et_pb_blurb_4 .et-pb-icon,
.et_pb_blurb_15 .et-pb-icon,
.et_pb_blurb_5 .et-pb-icon,
.et_pb_blurb_13 .et-pb-icon,
.et_pb_blurb_14 .et-pb-icon,
.et_pb_blurb_11 .et-pb-icon,
.et_pb_blurb_12 .et-pb-icon {
    font-size: 24px;
    color: #a9aab7;
    font-family: ETmodules !important;
    font-weight: 400 !important
}

.et_pb_text_24,
.et_pb_text_20,
.et_pb_text_23,
.et_pb_text_16,
.et_pb_text_25,
.et_pb_text_17,
.et_pb_text_27,
.et_pb_text_22,
.et_pb_text_19,
.et_pb_text_18,
.et_pb_text_14,
.et_pb_text_21,
.et_pb_text_26,
.et_pb_text_15 {
    line-height: 1.8em;
    line-height: 1.8em;
    margin-bottom: 20px !important
}

.et_pb_text_18 h3,
.et_pb_text_27 h3,
.et_pb_text_17 h3,
.et_pb_text_24 h3,
.et_pb_text_21 h3,
.et_pb_text_23 h3,
.et_pb_text_19 h3,
.et_pb_text_20 h3,
.et_pb_text_25 h3,
.et_pb_text_22 h3,
.et_pb_text_15 h3,
.et_pb_text_26 h3,
.et_pb_text_14 h3,
.et_pb_text_16 h3 {
    font-family: 'Merriweather', Georgia, "Times New Roman", serif;
    font-weight: 700;
    color: #4646c4 !important;
    line-height: 1.3em
}

.et_pb_toggle_3.et_pb_toggle h5,
.et_pb_toggle_3.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_toggle_3.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_toggle_3.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_toggle_3.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_toggle_3.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_toggle_5.et_pb_toggle h5,
.et_pb_toggle_5.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_toggle_5.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_toggle_5.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_toggle_5.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_toggle_5.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_toggle_11.et_pb_toggle h5,
.et_pb_toggle_11.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_toggle_11.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_toggle_11.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_toggle_11.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_toggle_11.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_toggle_12.et_pb_toggle h5,
.et_pb_toggle_12.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_toggle_12.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_toggle_12.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_toggle_12.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_toggle_12.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_toggle_10.et_pb_toggle h5,
.et_pb_toggle_10.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_toggle_10.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_toggle_10.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_toggle_10.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_toggle_10.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_toggle_4.et_pb_toggle h5,
.et_pb_toggle_4.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_toggle_4.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_toggle_4.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_toggle_4.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_toggle_4.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_toggle_6.et_pb_toggle h5,
.et_pb_toggle_6.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_toggle_6.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_toggle_6.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_toggle_6.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_toggle_6.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_toggle_2.et_pb_toggle h5,
.et_pb_toggle_2.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_toggle_2.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_toggle_2.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_toggle_2.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_toggle_2.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_toggle_1.et_pb_toggle h5,
.et_pb_toggle_1.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_toggle_1.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_toggle_1.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_toggle_1.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_toggle_1.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_toggle_7.et_pb_toggle h5,
.et_pb_toggle_7.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_toggle_7.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_toggle_7.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_toggle_7.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_toggle_7.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_toggle_13.et_pb_toggle h5,
.et_pb_toggle_13.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_toggle_13.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_toggle_13.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_toggle_13.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_toggle_13.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_toggle_0.et_pb_toggle h5,
.et_pb_toggle_0.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_toggle_0.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_toggle_0.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_toggle_0.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_toggle_0.et_pb_toggle h6.et_pb_toggle_title,
.et_pb_toggle_9.et_pb_toggle h5,
.et_pb_toggle_9.et_pb_toggle h1.et_pb_toggle_title,
.et_pb_toggle_9.et_pb_toggle h2.et_pb_toggle_title,
.et_pb_toggle_9.et_pb_toggle h3.et_pb_toggle_title,
.et_pb_toggle_9.et_pb_toggle h4.et_pb_toggle_title,
.et_pb_toggle_9.et_pb_toggle h6.et_pb_toggle_title {
    font-size: 18px;
    line-height: 1.8em
}

.et_pb_toggle_7.et_pb_toggle p,
.et_pb_toggle_5.et_pb_toggle p,
.et_pb_toggle_0.et_pb_toggle p,
.et_pb_toggle_11.et_pb_toggle p,
.et_pb_toggle_12.et_pb_toggle p,
.et_pb_toggle_2.et_pb_toggle p,
.et_pb_toggle_4.et_pb_toggle p,
.et_pb_toggle_6.et_pb_toggle p,
.et_pb_toggle_9.et_pb_toggle p,
.et_pb_toggle_3.et_pb_toggle p,
.et_pb_toggle_13.et_pb_toggle p,
.et_pb_toggle_1.et_pb_toggle p,
.et_pb_toggle_10.et_pb_toggle p {
    line-height: 1.8em
}

.et_pb_toggle_12.et_pb_toggle,
.et_pb_toggle_0.et_pb_toggle,
.et_pb_toggle_2.et_pb_toggle,
.et_pb_toggle_13.et_pb_toggle,
.et_pb_toggle_3.et_pb_toggle,
.et_pb_toggle_5.et_pb_toggle,
.et_pb_toggle_6.et_pb_toggle,
.et_pb_toggle_1.et_pb_toggle,
.et_pb_toggle_7.et_pb_toggle,
.et_pb_toggle_11.et_pb_toggle,
.et_pb_toggle_4.et_pb_toggle,
.et_pb_toggle_9.et_pb_toggle,
.et_pb_toggle_10.et_pb_toggle {
    font-size: 18px;
    line-height: 1.8em;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important
}

.et_pb_module.et_pb_toggle_3.et_pb_toggle,
.et_pb_module.et_pb_toggle_10.et_pb_toggle,
.et_pb_module.et_pb_toggle_6.et_pb_toggle,
.et_pb_module.et_pb_toggle_2.et_pb_toggle,
.et_pb_module.et_pb_toggle_7.et_pb_toggle,
.et_pb_module.et_pb_toggle_0.et_pb_toggle,
.et_pb_module.et_pb_toggle_13.et_pb_toggle,
.et_pb_module.et_pb_toggle_9.et_pb_toggle,
.et_pb_module.et_pb_toggle_1.et_pb_toggle,
.et_pb_module.et_pb_toggle_4.et_pb_toggle,
.et_pb_module.et_pb_toggle_5.et_pb_toggle,
.et_pb_module.et_pb_toggle_11.et_pb_toggle,
.et_pb_module.et_pb_toggle_12.et_pb_toggle {
    border-width: 0px
}

.et_pb_toggle_10.et_pb_toggle.et_pb_toggle_close,
.et_pb_toggle_13.et_pb_toggle.et_pb_toggle_close,
.et_pb_toggle_3.et_pb_toggle.et_pb_toggle_close,
.et_pb_toggle_7.et_pb_toggle.et_pb_toggle_close,
.et_pb_toggle_6.et_pb_toggle.et_pb_toggle_close,
.et_pb_toggle_12.et_pb_toggle.et_pb_toggle_close,
.et_pb_toggle_0.et_pb_toggle.et_pb_toggle_close,
.et_pb_toggle_4.et_pb_toggle.et_pb_toggle_close,
.et_pb_toggle_9.et_pb_toggle.et_pb_toggle_close,
.et_pb_toggle_11.et_pb_toggle.et_pb_toggle_close,
.et_pb_toggle_1.et_pb_toggle.et_pb_toggle_close,
.et_pb_toggle_5.et_pb_toggle.et_pb_toggle_close,
.et_pb_toggle_2.et_pb_toggle.et_pb_toggle_close {
    background-color: #ffffff
}

.et_pb_toggle_2.et_pb_toggle_close .et_pb_toggle_title:before,
.et_pb_toggle_2.et_pb_toggle_open .et_pb_toggle_title:before,
.et_pb_toggle_6.et_pb_toggle_close .et_pb_toggle_title:before,
.et_pb_toggle_11.et_pb_toggle_open .et_pb_toggle_title:before,
.et_pb_toggle_6.et_pb_toggle_open .et_pb_toggle_title:before,
.et_pb_toggle_11.et_pb_toggle_close .et_pb_toggle_title:before,
.et_pb_toggle_1.et_pb_toggle_open .et_pb_toggle_title:before,
.et_pb_toggle_3.et_pb_toggle_open .et_pb_toggle_title:before,
.et_pb_toggle_5.et_pb_toggle_close .et_pb_toggle_title:before,
.et_pb_toggle_5.et_pb_toggle_open .et_pb_toggle_title:before,
.et_pb_toggle_3.et_pb_toggle_close .et_pb_toggle_title:before,
.et_pb_toggle_4.et_pb_toggle_close .et_pb_toggle_title:before,
.et_pb_toggle_7.et_pb_toggle_open .et_pb_toggle_title:before,
.et_pb_toggle_13.et_pb_toggle_open .et_pb_toggle_title:before,
.et_pb_toggle_10.et_pb_toggle_open .et_pb_toggle_title:before,
.et_pb_toggle_10.et_pb_toggle_close .et_pb_toggle_title:before,
.et_pb_toggle_9.et_pb_toggle_close .et_pb_toggle_title:before,
.et_pb_toggle_9.et_pb_toggle_open .et_pb_toggle_title:before,
.et_pb_toggle_12.et_pb_toggle_close .et_pb_toggle_title:before,
.et_pb_toggle_12.et_pb_toggle_open .et_pb_toggle_title:before,
.et_pb_toggle_13.et_pb_toggle_close .et_pb_toggle_title:before,
.et_pb_toggle_0.et_pb_toggle_close .et_pb_toggle_title:before,
.et_pb_toggle_0.et_pb_toggle_open .et_pb_toggle_title:before,
.et_pb_toggle_4.et_pb_toggle_open .et_pb_toggle_title:before,
.et_pb_toggle_7.et_pb_toggle_close .et_pb_toggle_title:before,
.et_pb_toggle_1.et_pb_toggle_close .et_pb_toggle_title:before {
    color: #4646c4
}

.et_pb_section_4.et_pb_section {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    background-color: #f5f9fb !important
}

.et_pb_text_39 {
    margin-top: -2px !important
}

.et_pb_section_5.et_pb_section {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px
}

.et_pb_row_22.et_pb_row {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 27px !important;
    padding-left: 0px !important;
    padding-top: 0;
    padding-right: 0px;
    padding-bottom: 27px;
    padding-left: 0px
}

.et_pb_text_97.et_pb_text {
    color: #8300e9 !important
}

.et_pb_row_0.et_pb_row {
    padding-top: 27px !important;
    padding-right: 0px !important;
    padding-bottom: 26px !important;
    padding-left: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 27px;
    padding-right: 0px;
    padding-bottom: 26px;
    padding-left: 0px
}

@media only screen and (max-width:980px) {

    .et_pb_image_0 .et_pb_image_wrap img,
    .et_pb_image_2 .et_pb_image_wrap img,
    .et_pb_image_3 .et_pb_image_wrap img,
    .et_pb_image_4 .et_pb_image_wrap img,
    .et_pb_image_1 .et_pb_image_wrap img {
        width: auto
    }

    .et_pb_row_5 {
        border-bottom-width: 3px
    }

    .et_pb_row_13,
    .et_pb_row_18,
    .et_pb_row_17,
    .et_pb_row_16,
    .et_pb_row_15,
    .et_pb_row_14,
    .et_pb_row_10,
    .et_pb_row_12,
    .et_pb_row_11,
    .et_pb_row_9,
    .et_pb_row_8,
    .et_pb_row_7,
    .et_pb_row_6,
    .et_pb_row_19 {
        border-top-width: 1px
    }
}

@media only screen and (max-width:767px) {

    .et_pb_image_0 .et_pb_image_wrap img,
    .et_pb_image_2 .et_pb_image_wrap img,
    .et_pb_image_3 .et_pb_image_wrap img,
    .et_pb_image_4 .et_pb_image_wrap img,
    .et_pb_image_1 .et_pb_image_wrap img {
        width: auto
    }

    .et_pb_row_5 {
        border-bottom-width: 3px
    }

    .et_pb_row_13,
    .et_pb_row_18,
    .et_pb_row_17,
    .et_pb_row_16,
    .et_pb_row_15,
    .et_pb_row_14,
    .et_pb_row_10,
    .et_pb_row_12,
    .et_pb_row_11,
    .et_pb_row_9,
    .et_pb_row_8,
    .et_pb_row_7,
    .et_pb_row_6,
    .et_pb_row_19 {
        border-top-width: 1px
    }
}